/* ============================================================================
   WEBFLOW : CAREERS/APPLY -> GREENHOUSE IFRAME
   ========================================================================= */


/**
 * In Webflow, the Careers/Apply contains an HTML embed with a script 
 * `https://boards.greenhouse.io/embed/job_board/js?for=lob` that loads an
 * iframe. This iframe houses the job application form from Greenhouse.
 * 
 * The iframe loads a stylesheet `lob-greenhouse-v2.css`. To avoid being
 * blocked, this stylesheet serves as a temporary solution/hack to override
 * stylesheet hosted on AWS and pulled in from Greenhouse API.  
 *
 * Greenhouse embed
 * https://boards.greenhouse.io/embed/job_app?for=lob&token=2457178&b=
 * https%3A%2F%2Fwww.lob.com%2Fcareers%2Fapply
 */

 html, body {
    font-family: Larsseit, sans-serif;
    font-size: 16px;
    text-rendering: geometricPrecision;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 24px;
}

#wrapper {
    padding: 0;
}

#main {
    padding-bottom: 0;
    padding-top: 0;
}

#app_body {
    padding-left: 0 !important;
}

#application {
    background-color: inherit;
    padding: 0;
}

#application .heading {
    display: none;
}

#application div.required-fields {
    display: none;
}

#application div.field {
    overflow: inherit;
}

#application .field label {
margin: 0;
margin-bottom: 8px;
font-family: Larsseit, sans-serif;
font-weight: 400;
display: block;
color: #27333c;
float: none !important;
text-align: left !important;
font-size: 16px !important;
line-height: 24px;
}

#application .field input,
#application .field textarea {
    border: 1px solid #5f83a5 !important;
    border-radius: 2px !important;
    box-shadow: 0 8px 16px 0 rgba(39, 51, 60, 0.08) ;
    background-color: #fff;
    color: #333;
    font-size: 16px !important;
    padding: 14px 20px !important;
    transition: border-color 0.2s;
    box-sizing: border-box;
}

#application .field input:focus,
#application.field textarea:focus {
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.08);
}

#application .field input:focus,
#application.field textarea:focus {
    border-color: #0099d7;
}

#main_fields div.field textarea.paste,
#eeoc_fields div.field textarea.paste {
    margin-left: 0 !important;
    box-sizing: border-box;
    min-height: 150px;
}

a,
input[type='button'].link-like-butto {
    padding-bottom: 5px;
    -ms-flex-item-align: start;
    align-self: flex-start;
    border-bottom: 2px solid transparent;
    transition: padding-bottom 200ms ease, opacity 300ms ease, color 300ms ease, border-color 200ms ease;
    font-family: Larsseit, sans-serif;
    color: #1878e0;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

a:hover,
input[type='button'].link-like-butto:hover {
    padding-bottom: 5px;
    border-bottom: 2px solid #1878e0;
    border-radius: 0px;
    color: #0099d7;
    text-decoration: none;
}

.accessible #submit_app,
.accessible #apply_button {
    position: relative;
    padding: 12px 24px;
    border-style: none;
    border-width: 2px;
    border-color: #0099d7;
    border-radius: 5px;
    background-color: #0099d7;
    transition: background-color 200ms ease;
    font-family: Larsseit, sans-serif;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
}

.accessible #submit_app:hover,
.accessible #apply_button:hover {
    background-color: #1878e0;
    text-decoration: none;
}

.accessible .select2-container .select2-chosen,
.accessible .select2-container .select2-arrow,
.accessible .select2-container .select2-choice {
    background: inherit;
    border-radius: 5px;
    transition: background-color 200ms ease;
    font-family: Larsseit, sans-serif;
    color: #fff;
    font-weight: 400;
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    padding-right: 15px;
}

.accessible .select2-container .select2-choice {
    padding: 10px 20px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.08);
    border-style: none;
}

.select2-arrow {
    padding: 10px 0;
}

#main_fields div.field .field-error-msg,
#eeoc_fields div.field .field-error-msg {
    padding-left: 0;
}

#application p {
    color: #27333c;
    font-family: Larsseit, sans-serif;
    font-weight: 400;
}
#application h3 {
    font-family: Larsseit, sans-serif;
    font-weight: 500;
    color: #3a5f83;
    font-size: 16px;
}

#application strong {
    color: #27333c;
    font-family: Larsseit, sans-serif;
    font-weight: 500;
    font-size: 14px;
}

#application ul li {
    font-family: Larsseit, sans-serif;
    color: #27333c;
    font-weight: 400;
    list-style: none;
}

#application ul li:before {
    content: "\2022";
    color: #c5d6e6;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
}

#submit_buttons {
    text-align: center;
}

.select2-drop-active {
    border-color: #ffffff;
}

.select2-container .select2-choice .select2-arrow b {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 20' x='0px' y='0px'><path d='m10.1715729 1.45454545-5.08578646 5.13124099-5.08578644-5.13124099 1.44444444-1.45454545 3.641342 3.67669553 3.64134199-3.67669553z' fill-rule='evenodd' transform='translate(3 6)'/></svg>") !important;
    background-size: auto !important;
}

.accessible .select2-container { 
    width: 100% !important;
}

.select2-container {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: center right 18px;
    border: 1px solid #5f83a5 !important;
    border-radius: 2px !important;
    box-shadow: 0 8px 16px 0 rgba(39, 51, 60, 0.08) ;
    background-color: #fff;
    color: #333;
    font-size: 16px !important;
    transition: border-color 0.2s;
}

.select2-results {
    padding: 0;
    margin: 0;
}

.select2-results li {
    padding: 10px;
}

.select2-drop-active {
    border-color: #5f83a5;
    border: 1px solid #5f83a5;
    border-top: 1px solid #5f83a5;
}

.select2-dropdown-open .select2-choice .select2-arrow b {
    background-position: initial !important;
    transform: rotate(180deg) !important;
    top: -50% !important;
    left: -50% !important;
    position: relative !important;
    margin-left: 10px;
}

#main_fields div.field input[type=text],
#custom_fields div.field input[type=text] {
    width: 100% !important;
}

#app_body, 
#application {
    max-width: unset !important;
}

#disability_status_header {
    text-decoration: none;
    text-align: left;
}

#submit_app {
    text-shadow: none;
}

@media (max-width: 640px) {
    .attach-or-paste .link-container a {
        position: relative;
        padding: 12px 24px;
        border-style: none;
        border-width: 2px;
        border-color: #0099d7 !important;
        border-radius: 5px;
        background-color: #0099d7 !important;
        transition: background-color 200ms ease;
        font-family: Larsseit, sans-serif !important;
        color: #fff !important;
        font-weight: 500;
        text-decoration: none;
        font-size: 16px;
        line-height: 24px;
        background-image: none;
    }

    .attach-or-paste .link-container a:hover,
        input[type='button'].link-like-butto:hover {
        background-color: #1878e0 !important;
        text-decoration: none;
    }

    #submit_app {
        width: 100%;
    }
}
